In [1]:
import pandas as pd

In [2]:
output = pd.read_csv("resources/results/20220504/output_sli_rec.txt", header = None, names = ['score'])
output

              score
0      7.986945e-01
1      3.998834e-01
2      2.113470e-05
3      1.132391e-07
4      5.979955e-01
...             ...
11765  1.112649e-06
11766  1.940846e-08
11767  2.212165e-01
11768  2.530605e-07
11769  2.375450e-01

[11770 rows x 1 columns]

In [3]:
test = pd.read_csv("resources/results/20220504/test_data", sep="\t", header=None, names=['label', 'uId', 'pId', 'cate', 'time', 'pHis', 'cHis', 'tHis'])
test

,label,uId,pId,cate,time,pHis,cHis,tHis
0,1,0202cjstk,1018,11S,1606803176,"1330,2753,8393,11022,2438,10039,2577,2675,2941...","41B,55B,55B,41B,2B,4B,41B,51B,51S,4B,41B,4B,54...","1595254439,1595255209,1595258921,1595260988,15..."
1,0,0202cjstk,1068,49G,1606803176,"1330,2753,8393,11022,2438,10039,2577,2675,2941...","41B,55B,55B,41B,2B,4B,41B,51B,51S,4B,41B,4B,54...","1595254439,1595255209,1595258921,1595260988,15..."
2,0,0202cjstk,10039,4B,1606803176,"1330,2753,8393,11022,2438,10039,2577,2675,2941...","41B,55B,55B,41B,2B,4B,41B,51B,51S,4B,41B,4B,54...","1595254439,1595255209,1595258921,1595260988,15..."
3,0,0202cjstk,11651,15S,1606803176,"1330,2753,8393,11022,2438,10039,2577,2675,2941...","41B,55B,55B,41B,2B,4B,41B,51B,51S,4B,41B,4B,54...","1595254439,1595255209,1595258921,1595260988,15..."
4,0,0202cjstk,12865,19G,1606803176,"1330,2753,8393,11022,2438,10039,2577,2675,2941...","41B,55B,55B,41B,2B,4B,41B,51B,51S,4B,41B,4B,54...","1595254439,1595255209,1595258921,1595260988,15..."
...,...,...,...,...,...,...,...,...
11765,0,zzzz1362,10814,15S,1567131558,"2753,10039,5523,6502,2438,9012,1068,10799,1003...","55B,4B,2B,55B,2B,18S,49G,13S,19S,18S,22S,41B,5...","1490006939,1490008328,1490080228,1490084457,14..."
11766,0,zzzz1362,10844,19S,1567131558,"2753,10039,5523,6502,2438,9012,1068,10799,1003...","55B,4B,2B,55B,2B,18S,49G,13S,19S,18S,22S,41B,5...","1490006939,1490008328,1490080228,1490084457,14..."
11767,0,zzzz1362,17298,13G,1567131558,"2753,10039,5523,6502,2438,9012,1068,10799,1003...","55B,4B,2B,55B,2B,18S,49G,13S,19S,18S,22S,41B,5...","1490006939,1490008328,1490080228,1490084457,14..."
11768,0,zzzz1362,1018,11S,1567131558,"2753,10039,5523,6502,2438,9012,1068,10799,1003...","55B,4B,2B,55B,2B,18S,49G,13S,19S,18S,22S,41B,5...","1490006939,1490008328,1490080228,1490084457,14..."
11769,0,zzzz1362,1918,13G,1567131558,"2753,10039,5523,6502,2438,9012,1068,10799,1003...","55B,4B,2B,55B,2B,18S,49G,13S,19S,18S,22S,41B,5...","1490006939,1490008328,1490080228,1490084457,14..."

In [41]:
problems = pd.read_csv('resources/category.csv', index_col=0, dtype=str)
problems

        pId category
0      1002       4S
1      1003      19S
2      1004      12S
3      1005      44G
4      1007      31G
...     ...      ...
9568  24936      55S
9569  24937       3B
9570  24938      33S
9571  24939      55S
9572  24940      19G

[9573 rows x 2 columns]

In [5]:
tag = pd.read_csv('resources/tagCluster.csv', index_col=0)
tag

                                                    tag
Implementation                                        2
DynamicProgramming                                   19
Implementation,String                                51
Mathematics                                           4
Implementation,Simulation                             2
...                                                 ...
Mathematics,DynamicProgramming,NumberTheory,Com...   48
Constructive,Ad_hoc,Bitmask                          56
BinarySearch,PrefixSum,ParametricSearch              20
Implementation,Bruteforcing,Simulation,Two_pointer    2
Implementation,String,Ad_hoc,Bitmask                 51

[1475 rows x 1 columns]

In [6]:
instance_output = pd.read_csv("resources/results/20220504/instance_output_0.01", sep='\t', dtype=str, header=None, names=['label','uId','pId','time','cate'])
instance_output

       label         uId    pId        time cate
0          1  0000000000   8393  1631924264  55B
1          1  0000000000   2470  1631927843  46G
2          1  0000000000   2473  1631928052  46G
3          1  0000000000   1330  1631929414  41B
4          1  0000000000   2438  1631929577   2B
...      ...         ...    ...         ...  ...
343937     1         z_z   1922  1621402185  14G
343938     1         z_z  10816  1624629110  40S
343939     1         z_z   2671  1625555689   3G
343940     1         z_z  11004  1625830881  15S
343941     1         z_z  12865  1628754133  19G

[343942 rows x 5 columns]

In [57]:
test[test['cate']=='51B']

,label,uId,pId,cate,time,pHis,cHis,tHis
7,0,0202cjstk,2675,51B,1606803176,"1330,2753,8393,11022,2438,10039,2577,2675,2941...","41B,55B,55B,41B,2B,4B,41B,51B,51S,4B,41B,4B,54...","1595254439,1595255209,1595258921,1595260988,15..."
24,0,06elvalove,2675,51B,1602310413,"2438,8393,2443,10039,2675,1978,1330,14924,1102...","2B,55B,2B,4B,51B,22S,41B,4B,41B,4B,2B,2B,41B,5...","1528624148,1528625767,1529825965,1530437499,15..."
29,0,06elvalove,11365,51B,1602310413,"2438,8393,2443,10039,2675,1978,1330,14924,1102...","2B,55B,2B,4B,51B,22S,41B,4B,41B,4B,2B,2B,41B,5...","1528624148,1528625767,1529825965,1530437499,15..."
31,0,0930dhs,2675,51B,1633940240,"1330,2753,8393,11022,2438,2577,2675,2941,2869,...","41B,55B,55B,41B,2B,41B,51B,51S,4B,11S,22S,4B,1...","1578225509,1578226463,1578316003,1578317752,15..."
57,0,104arb,2675,51B,1634283910,"1330,2753,8393,1978,2438,11022,10039,2577,2675...","41B,55B,55B,22S,2B,41B,4B,41B,51B,51S,4B,11S,1...","1570428483,1570428814,1571393748,1571461822,15..."
...,...,...,...,...,...,...,...,...
11565,0,ysg0306,2675,51B,1644920400,"11022,1330,2438,2443,10992,10991,10995,10994,8...","41B,41B,2B,2B,2B,2B,2B,53S,55B,55B,4B,41B,4B,5...","1631610982,1631615784,1631698083,1631702508,16..."
11596,0,yuja,2675,51B,1647355982,"2577,2869,8393,1330,2753,2438,2675,9012,11651,...","41B,4B,55B,41B,55B,2B,51B,18S,15S,15S,55B,22S,...","1615704362,1615707330,1616247919,1616248150,16..."
11622,0,yunjaekid,2675,51B,1597164166,"1330,2753,8393,11022,2438,2577,2675,2941,1978,...","41B,55B,55B,41B,2B,41B,51B,51S,22S,4B,11S,15S,...","1566287826,1566288212,1566289030,1566292762,15..."
11665,0,yyoh2430,2675,51B,1550635154,"11066,8393,3085,1018,1700,11022,2294,10844,100...","19G,55B,11S,11S,33G,41B,19S,19S,24G,9G,18S,13G...","1488186640,1512829711,1517925321,1518129297,15..."
11742,0,zzoni,2675,51B,1629592762,"11022,2438,8393,2577,1120,1330,2675,2753,1018,...","41B,2B,55B,41B,51S,41B,51B,55B,11S,11S,30S,4B,...","1622907538,1624371366,1624374274,1624545621,16..."

In [20]:
sample_problem = instance_output[['pId','cate']]
popular_cate = sample_problem['cate'].unique()
popular_cate

array(['55B', '46G', '41B', '2B', '51B', '4B', '18S', '13S', '19G', '22S',
       '48S', '24G', '15S', '40S', '19S', '11S', '16S', '51S', '1G',
       '47S', '14G', '28G', '30S', '13G', '18G', '52S', '9G', '55S',
       '49G', '44G', '54B', '53S', '47G', '33G', '3G', '60G', '15P',
       '18P', '23S', '2S', '11G', '12P', '41G'], dtype=object)

In [21]:
sample_problem['cate'].value_counts()

41B    37658
15S    24466
4B     23641
19S    21911
2B     21350
55B    18441
18S    18240
1G     17821
19G    14965
51S    13078
51B    12100
22S    11227
11S    11032
13G     7819
47S     7487
24G     6854
52S     6755
40S     6748
30S     6651
13S     5922
46G     5555
16S     5498
14G     4797
9G      4011
18G     3872
28G     3807
49G     3724
44G     3130
55S     3067
47G     2594
33G     2015
54B     1560
60G     1410
53S     1217
15P     1160
3G       848
18P      495
48S      437
11G      326
23S      189
2S        36
12P       18
41G       10
Name: cate, dtype: int64

In [22]:
popular_problems = sample_problem['pId'].unique()
popular_problems

array(['8393', '2470', '2473', '1330', '2438', '2753', '2675', '2869',
       '11022', '10773', '10799', '2577', '4153', '12865', '1978',
       '15624', '11365', '9012', '10026', '10039', '10610', '14924',
       '11948', '10816', '1003', '1018', '11659', '10886', '2443', '2941',
       '5427', '15650', '20332', '1922', '11024', '1976', '11651',
       '10814', '1541', '17298', '1918', '9935', '9019', '14502', '10992',
       '6603', '15953', '10844', '9466', '2146', '3085', '1748', '16194',
       '1120', '2294', '1068', '1516', '11004', '11066', '1015', '1076',
       '1977', '10801', '11557', '10995', '10994', '1038', '11049',
       '2615', '1700', '2671', '5717', '10991', '17103', '2755', '6502',
       '1949', '17609', '1422', '5789', '5523', '2643', '3613', '10165',
       '3111', '14723', '14440', '16397', '13360', '9870', '15898',
       '1974', '22295'], dtype=object)

In [46]:
sample_problem[sample_problem['cate'].isin(popular_cate)]

          pId cate
0        8393  55B
1        2470  46G
2        2473  46G
3        1330  41B
4        2438   2B
...       ...  ...
343937   1922  14G
343938  10816  40S
343939   2671   3G
343940  11004  15S
343941  12865  19G

[343942 rows x 2 columns]

In [24]:
sample_problem[sample_problem['cate'].isin(['15S'])]['pId'].unique()

array(['10610', '11651', '10814', '11004', '1015'], dtype=object)

In [33]:
tag[tag['tag']==41]

                                                    tag
Implementation,Mathematics,Arithmetic                41
Implementation,Mathematics,Simulation                41
Implementation,Mathematics,Simulation,Arithmetic     41
Implementation,Mathematics,Bruteforcing,Arithmetic   41
Implementation,Mathematics,NumberTheory,Simulation   41
Implementation,Mathematics,Bruteforcing,Simulation   41
Implementation,Mathematics,Greedy,Arithmetic         41
Implementation,Mathematics,Arithmetic,Geometry       41
Implementation,Mathematics,Greedy,Simulation,Ar...   41
Implementation,Mathematics,GraphTheory,Simulati...   41
Implementation,Mathematics,Simulation,Arithmeti...   41
Implementation,Mathematics,String,Simulation,Ar...   41
Implementation,Mathematics,Bruteforcing,Greedy,...   41
Implementation,Mathematics,Sorting,Arithmetic        41
Implementation,Mathematics,Simulation,Recursion      41
Implementation,Mathematics,Bruteforcing,Simulat...   41
Implementation,Mathematics,Sorting,Simulation        41
Implementation,Mathematics,Greedy,Sorting,Arith...   41
Implementation,Mathematics,Greedy,Simulation,Bi...   41
Implementation,Mathematics,Simulation,Bitmask,E...   41
Implementation,Mathematics,Arithmetic,Probabili...   41

In [ ]:
problems[problems['category']]

In [5]:
valid = output[[i%10==0 for i in output.index]]
valid

          score
0      0.798694
10     0.594146
20     0.608080
30     0.606215
40     0.834847
...         ...
11720  0.600418
11730  0.879424
11740  0.854973
11750  0.761282
11760  0.999579

[1177 rows x 1 columns]

In [6]:
count_data = []
for i in range(10):
    cnt = len(valid[valid['score']<0.1*(i+1)])
    count_data.append(cnt)
count_data

[1, 4, 14, 27, 60, 159, 385, 772, 1065, 1177]

In [7]:
sum = count_data[0]
for i in range(1,10):
    data = count_data[i]
    data = data - sum
    count_data[i] = data
    sum += data
count_data

[1, 3, 10, 13, 33, 99, 226, 387, 293, 112]

In [63]:
countDF = pd.DataFrame([count_data], columns=['0%','10%','20%','30%','40%','50%','60%','70%','80%','90%'])
countDF

   0%  10%  20%  30%  40%  50%  60%  70%  80%  90%
0   1    3   10   13   33   99  226  387  293  112

In [9]:
correctIndex = output[output['score']>0.5].index

In [11]:
test.loc[correctIndex]

,label,uId,pId,cate,time,pHis,cHis,tHis
0,1,0202cjstk,1018,11S,1606803176,"1330,2753,8393,11022,2438,10039,2577,2675,2941...","41B,55B,55B,41B,2B,4B,41B,51B,51S,4B,41B,4B,54...","1595254439,1595255209,1595258921,1595260988,15..."
4,0,0202cjstk,12865,19G,1606803176,"1330,2753,8393,11022,2438,10039,2577,2675,2941...","41B,55B,55B,41B,2B,4B,41B,51B,51S,4B,41B,4B,54...","1595254439,1595255209,1595258921,1595260988,15..."
10,1,0218jhlee,2146,1G,1615340343,"1003,4153,1330,2753,1018,2577,10039,2675,2941,...","19S,4B,41B,55B,11S,41B,4B,51B,51S,4B,22S,47S,1...","1586361396,1586680648,1586698358,1586698564,15..."
12,0,0218jhlee,2755,41B,1615340343,"1003,4153,1330,2753,1018,2577,10039,2675,2941,...","19S,4B,41B,55B,11S,41B,4B,51B,51S,4B,22S,47S,1...","1586361396,1586680648,1586698358,1586698564,15..."
13,0,0218jhlee,3613,51S,1615340343,"1003,4153,1330,2753,1018,2577,10039,2675,2941,...","19S,4B,41B,55B,11S,41B,4B,51B,51S,4B,22S,47S,1...","1586361396,1586680648,1586698358,1586698564,15..."
...,...,...,...,...,...,...,...,...
11749,0,zzoni,17609,51S,1629592762,"11022,2438,8393,2577,1120,1330,2675,2753,1018,...","41B,2B,55B,41B,51S,41B,51B,55B,11S,11S,30S,4B,...","1622907538,1624371366,1624374274,1624545621,16..."
11750,1,zzzmmmxn,11651,15S,1648651411,"1330,2753,8393,11022,2438,2577,2675,2941,2869,...","41B,55B,55B,41B,2B,41B,51B,51S,4B,41B,4B,41B,4...","1636042859,1636043289,1636104184,1636108976,16..."
11753,0,zzzmmmxn,4153,4B,1648651411,"1330,2753,8393,11022,2438,2577,2675,2941,2869,...","41B,55B,55B,41B,2B,41B,51B,51S,4B,41B,4B,41B,4...","1636042859,1636043289,1636104184,1636108976,16..."
11755,0,zzzmmmxn,11004,15S,1648651411,"1330,2753,8393,11022,2438,2577,2675,2941,2869,...","41B,55B,55B,41B,2B,41B,51B,51S,4B,41B,4B,41B,4...","1636042859,1636043289,1636104184,1636108976,16..."
11760,1,zzzz1362,10995,2B,1567131558,"2753,10039,5523,6502,2438,9012,1068,10799,1003...","55B,4B,2B,55B,2B,18S,49G,13S,19S,18S,22S,41B,5...","1490006939,1490008328,1490080228,1490084457,14..."

In [15]:
df = pd.concat([output, test],axis=1)
df

,score,label,uId,pId,cate,time,pHis,cHis,tHis
0,7.986945e-01,1,0202cjstk,1018,11S,1606803176,"1330,2753,8393,11022,2438,10039,2577,2675,2941...","41B,55B,55B,41B,2B,4B,41B,51B,51S,4B,41B,4B,54...","1595254439,1595255209,1595258921,1595260988,15..."
1,3.998834e-01,0,0202cjstk,1068,49G,1606803176,"1330,2753,8393,11022,2438,10039,2577,2675,2941...","41B,55B,55B,41B,2B,4B,41B,51B,51S,4B,41B,4B,54...","1595254439,1595255209,1595258921,1595260988,15..."
2,2.113470e-05,0,0202cjstk,10039,4B,1606803176,"1330,2753,8393,11022,2438,10039,2577,2675,2941...","41B,55B,55B,41B,2B,4B,41B,51B,51S,4B,41B,4B,54...","1595254439,1595255209,1595258921,1595260988,15..."
3,1.132391e-07,0,0202cjstk,11651,15S,1606803176,"1330,2753,8393,11022,2438,10039,2577,2675,2941...","41B,55B,55B,41B,2B,4B,41B,51B,51S,4B,41B,4B,54...","1595254439,1595255209,1595258921,1595260988,15..."
4,5.979955e-01,0,0202cjstk,12865,19G,1606803176,"1330,2753,8393,11022,2438,10039,2577,2675,2941...","41B,55B,55B,41B,2B,4B,41B,51B,51S,4B,41B,4B,54...","1595254439,1595255209,1595258921,1595260988,15..."
...,...,...,...,...,...,...,...,...,...
11765,1.112649e-06,0,zzzz1362,10814,15S,1567131558,"2753,10039,5523,6502,2438,9012,1068,10799,1003...","55B,4B,2B,55B,2B,18S,49G,13S,19S,18S,22S,41B,5...","1490006939,1490008328,1490080228,1490084457,14..."
11766,1.940846e-08,0,zzzz1362,10844,19S,1567131558,"2753,10039,5523,6502,2438,9012,1068,10799,1003...","55B,4B,2B,55B,2B,18S,49G,13S,19S,18S,22S,41B,5...","1490006939,1490008328,1490080228,1490084457,14..."
11767,2.212165e-01,0,zzzz1362,17298,13G,1567131558,"2753,10039,5523,6502,2438,9012,1068,10799,1003...","55B,4B,2B,55B,2B,18S,49G,13S,19S,18S,22S,41B,5...","1490006939,1490008328,1490080228,1490084457,14..."
11768,2.530605e-07,0,zzzz1362,1018,11S,1567131558,"2753,10039,5523,6502,2438,9012,1068,10799,1003...","55B,4B,2B,55B,2B,18S,49G,13S,19S,18S,22S,41B,5...","1490006939,1490008328,1490080228,1490084457,14..."
11769,2.375450e-01,0,zzzz1362,1918,13G,1567131558,"2753,10039,5523,6502,2438,9012,1068,10799,1003...","55B,4B,2B,55B,2B,18S,49G,13S,19S,18S,22S,41B,5...","1490006939,1490008328,1490080228,1490084457,14..."

In [52]:
index = output[output['score']>0.5].index
index

Int64Index([     0,      3,      4,     10,     12,     13,     20,     24,
                26,     27,
            ...
            117714, 117715, 117720, 117727, 117730, 117731, 117733, 117734,
            117736, 117739],
           dtype='int64', length=44505)

In [16]:
df = test.loc[index]
df

,0,1,2,3,4,5,6,7
0,1,0000000000,1976,28G,1645802360,"8393,2470,2473,1330,2438,2753,2675,2869,11022,...","55B,46G,46G,41B,2B,55B,51B,4B,41B,18S,13S,41B,...","1631924264,1631927843,1631928052,1631929414,16..."
3,0,0000000000,10844,19S,1645802360,"8393,2470,2473,1330,2438,2753,2675,2869,11022,...","55B,46G,46G,41B,2B,55B,51B,4B,41B,18S,13S,41B,...","1631924264,1631927843,1631928052,1631929414,16..."
4,0,0000000000,2146,1G,1645802360,"8393,2470,2473,1330,2438,2753,2675,2869,11022,...","55B,46G,46G,41B,2B,55B,51B,4B,41B,18S,13S,41B,...","1631924264,1631927843,1631928052,1631929414,16..."
10,1,001,14924,4B,1649215212,"2438,1330,2753,2577,2675,8393,10039,1003,12865...","2B,41B,55B,41B,51B,55B,4B,19S,19G,41B,51S,22S,...","1644557052,1644560163,1644560745,1644796980,16..."
12,0,001,11066,19G,1649215212,"2438,1330,2753,2577,2675,8393,10039,1003,12865...","2B,41B,55B,41B,51B,55B,4B,19S,19G,41B,51S,22S,...","1644557052,1644560163,1644560745,1644796980,16..."
...,...,...,...,...,...,...,...,...
117731,0,z_z,10773,18S,1628754133,"10995,2438,8393,1978,10039,2577,10026,1748,308...","2B,2B,55B,22S,4B,41B,24G,55S,11S,47S,52S,19S,1...","1469117043,1469859893,1469862469,1470577773,14..."
117733,0,z_z,2941,51S,1628754133,"10995,2438,8393,1978,10039,2577,10026,1748,308...","2B,2B,55B,22S,4B,41B,24G,55S,11S,47S,52S,19S,1...","1469117043,1469859893,1469862469,1470577773,14..."
117734,0,z_z,9012,18S,1628754133,"10995,2438,8393,1978,10039,2577,10026,1748,308...","2B,2B,55B,22S,4B,41B,24G,55S,11S,47S,52S,19S,1...","1469117043,1469859893,1469862469,1470577773,14..."
117736,0,z_z,2615,11S,1628754133,"10995,2438,8393,1978,10039,2577,10026,1748,308...","2B,2B,55B,22S,4B,41B,24G,55S,11S,47S,52S,19S,1...","1469117043,1469859893,1469862469,1470577773,14..."
117739,0,z_z,1330,41B,1628754133,"10995,2438,8393,1978,10039,2577,10026,1748,308...","2B,2B,55B,22S,4B,41B,24G,55S,11S,47S,52S,19S,1...","1469117043,1469859893,1469862469,1470577773,14..."

In [38]:
df.loc[20000][6]

'19S,41B,22S,3G,47S,47G,4B,30S,18S,18S,41B,41B,11S,14G,40S,15S,15S,15S,44G,16S,4B,1G,13G,19G,46G,24G,18G,1G,9G,19G,19S,52S'

In [40]:
df.loc[2000:2009]

,0,1,2,3,4,5,6,7
2000,1,901po3,1018,11S,1601046977,"9012,2438,8393,2577,1330,2753,11022,10039,2675...","18S,2B,55B,41B,41B,55B,41B,4B,51B,51S,4B,22S,3...","1497768300,1529996078,1529997496,1558593039,15..."
2002,0,901po3,9019,1G,1601046977,"9012,2438,8393,2577,1330,2753,11022,10039,2675...","18S,2B,55B,41B,41B,55B,41B,4B,51B,51S,4B,22S,3...","1497768300,1529996078,1529997496,1558593039,15..."
2005,0,901po3,17298,13G,1601046977,"9012,2438,8393,2577,1330,2753,11022,10039,2675...","18S,2B,55B,41B,41B,55B,41B,4B,51B,51S,4B,22S,3...","1497768300,1529996078,1529997496,1558593039,15..."
2008,0,901po3,12865,19G,1601046977,"9012,2438,8393,2577,1330,2753,11022,10039,2675...","18S,2B,55B,41B,41B,55B,41B,4B,51B,51S,4B,22S,3...","1497768300,1529996078,1529997496,1558593039,15..."

In [58]:
outputlow = output[output['score']<0.5]
len(outputlow[[i%10 == 0 for i in outputlow.index]])

551

In [60]:
output[[i%10 == 0 for i in output.index]]['score']

           score
0       0.782077
10      0.973186
20      0.655727
30      0.845423
40      0.813320
...          ...
117690  0.764936
117700  0.999234
117710  0.815144
117720  0.716180
117730  0.630332

[11774 rows x 1 columns]

In [250]:
test_problem = problems[problems['pId'].isin(popular_problems)]
test_problem

        pId category
1      1003      19S
12     1015      15S
14     1018      11S
31     1038      47G
51     1068      49G
...     ...      ...
6867  17103      22S
6983  17298      13G
7132  17609      51S
7926  20332      41B
8528  22295      41G

[93 rows x 2 columns]

In [251]:
test_problem['category'].value_counts()

2B     8
41B    8
4B     6
15S    5
1G     5
55B    5
19S    4
51S    4
19G    4
11S    3
51B    3
14G    2
18S    2
22S    2
46G    2
13G    2
15P    2
60G    1
18G    1
11G    1
47S    1
48S    1
23S    1
2S     1
16S    1
54B    1
53S    1
40S    1
13S    1
24G    1
9G     1
12P    1
47G    1
52S    1
18P    1
49G    1
3G     1
44G    1
30S    1
33G    1
55S    1
28G    1
41G    1
Name: category, dtype: int64

In [252]:
test_index = test_problem[test_problem['category']=='19G'].index
test_index

Int64Index([1091, 4114, 4127, 4903], dtype='int64')

In [253]:
remove = test_problem[test_problem['pId'].isin(test_index)].index
remove
test_problem = test_problem.drop(remove)
test_problem[test_problem['pId'].isin(test_index)]

Empty DataFrame
Columns: [pId, category]
Index: []

In [255]:
index = test_problem.index
label = "1"
uId = "musiclove529"
time = "1606803176"
pHis = "1091,4114,4127,4903"
cHis = "19G,19G,19G,19G"
tHis = "1596118108,1596126706,1603490257,1604490257"
f = open('test2','w')
for i in index:
    data = test_problem.loc[i]
    pId = data['pId']
    cate = data['category']
    f.write(label + '\t' + uId + '\t' + pId + '\t' + cate + '\t' + time + '\t' + pHis + '\t' + cHis + '\t' + tHis + '\n')

In [2]:
output = pd.read_csv('output_sli_rec.txt',sep='\t',header=None,dtype=str,names=['score'])
output

         score
0    0.7250139
1   0.65801495
2   0.71894854
3   0.48395544
4   0.43346426
..         ...
85   0.3082834
86  0.11190748
87  0.33173895
88  0.43190664
89   0.4951433

[90 rows x 1 columns]

In [3]:
test = pd.read_csv('test', sep='\t',header=None,dtype=str,names=['label', 'uId', 'pId', 'cate', 'time', 'pHis', 'cHis', 'tHis'])
test

,label,uId,pId,cate,time,pHis,cHis,tHis
0,1,musiclove529,1003,19S,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
1,1,musiclove529,1015,15S,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
2,1,musiclove529,1018,11S,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
3,1,musiclove529,1038,47G,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
4,1,musiclove529,1068,49G,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
...,...,...,...,...,...,...,...,...
85,1,musiclove529,17103,22S,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
86,1,musiclove529,17298,13G,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
87,1,musiclove529,17609,51S,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
88,1,musiclove529,20332,41B,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
89,1,musiclove529,22295,41G,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"

In [4]:
df = pd.concat([output, test], axis=1)
df

,score,label,uId,pId,cate,time,pHis,cHis,tHis
0,0.7250139,1,musiclove529,1003,19S,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
1,0.65801495,1,musiclove529,1015,15S,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
2,0.71894854,1,musiclove529,1018,11S,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
3,0.48395544,1,musiclove529,1038,47G,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
4,0.43346426,1,musiclove529,1068,49G,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
...,...,...,...,...,...,...,...,...,...
85,0.3082834,1,musiclove529,17103,22S,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
86,0.11190748,1,musiclove529,17298,13G,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
87,0.33173895,1,musiclove529,17609,51S,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
88,0.43190664,1,musiclove529,20332,41B,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
89,0.4951433,1,musiclove529,22295,41G,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"

In [9]:
df.loc[df['score'].sort_values(ascending=False).index].head(10)

,score,label,uId,pId,cate,time,pHis,cHis,tHis
41,0.90699387,1,musiclove529,6502,55B,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
31,0.90516996,1,musiclove529,2755,41B,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
5,0.865847,1,musiclove529,1076,2B,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
66,0.841939,1,musiclove529,11024,4B,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
55,0.8331741,1,musiclove529,10801,2B,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
77,0.8265498,1,musiclove529,14723,55B,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
40,0.8173418,1,musiclove529,5717,4B,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
18,0.81648445,1,musiclove529,1977,55B,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
22,0.8146424,1,musiclove529,2438,2B,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
43,0.81459653,1,musiclove529,8393,55B,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"

In [5]:
df = df.astype({'score':'float'})

In [35]:
rec = df[df['score']<0.5]
rec

,score,label,uId,pId,cate,time,pHis,cHis,tHis
3,0.483955,1,musiclove529,1038,47G,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
4,0.433464,1,musiclove529,1068,49G,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
8,0.147878,1,musiclove529,1422,15P,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
9,0.216113,1,musiclove529,1516,44G,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
10,0.376602,1,musiclove529,1541,30S,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
11,0.293093,1,musiclove529,1700,33G,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
13,0.464633,1,musiclove529,1918,13G,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
14,0.442101,1,musiclove529,1922,14G,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
15,0.057240,1,musiclove529,1949,60G,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
16,0.048158,1,musiclove529,1974,12P,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
17,0.216794,1,musiclove529,1976,28G,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
20,0.183664,1,musiclove529,2146,1G,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
21,0.467408,1,musiclove529,2294,19S,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
24,0.332194,1,musiclove529,2470,46G,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
25,0.099211,1,musiclove529,2473,46G,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
28,0.351668,1,musiclove529,2643,19G,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
29,0.439371,1,musiclove529,2671,3G,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
34,0.488111,1,musiclove529,3085,11S,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
35,0.103933,1,musiclove529,3111,18P,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
37,0.432781,1,musiclove529,4153,4B,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
38,0.228874,1,musiclove529,5427,1G,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
42,0.489507,1,musiclove529,6603,52S,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
45,0.197450,1,musiclove529,9019,1G,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
46,0.375050,1,musiclove529,9466,9G,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
47,0.088693,1,musiclove529,9870,14G,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
48,0.357190,1,musiclove529,9935,18G,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
49,0.422609,1,musiclove529,10026,24G,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
51,0.313478,1,musiclove529,10165,15P,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
53,0.444126,1,musiclove529,10773,18S,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
56,0.436584,1,musiclove529,10814,15S,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
57,0.379633,1,musiclove529,10816,40S,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
61,0.421296,1,musiclove529,10992,2B,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
67,0.105560,1,musiclove529,11049,19G,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
68,0.240991,1,musiclove529,11066,19G,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
70,0.467117,1,musiclove529,11651,15S,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
71,0.382612,1,musiclove529,11659,16S,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
73,0.140598,1,musiclove529,12865,19G,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
75,0.133835,1,musiclove529,14440,23S,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
76,0.260921,1,musiclove529,14502,1G,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
79,0.495573,1,musiclove529,15624,48S,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
80,0.380676,1,musiclove529,15650,47S,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
81,0.188297,1,musiclove529,15898,11G,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
83,0.282852,1,musiclove529,16194,19S,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
84,0.163572,1,musiclove529,16397,1G,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
85,0.308283,1,musiclove529,17103,22S,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
86,0.111907,1,musiclove529,17298,13G,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
87,0.331739,1,musiclove529,17609,51S,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
88,0.431907,1,musiclove529,20332,41B,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"
89,0.495143,1,musiclove529,22295,41G,1606803176,"2675,11365,5789","51B,51B,51B","1596118108,1596126706,1604490257"

In [36]:
uniq_cate = rec['cate'].unique()
uniq_cate

array(['47G', '49G', '15P', '44G', '30S', '33G', '13G', '14G', '60G',
       '12P', '28G', '1G', '19S', '46G', '19G', '3G', '11S', '18P', '4B',
       '52S', '9G', '18G', '24G', '18S', '15S', '40S', '2B', '16S', '23S',
       '48S', '47S', '11G', '22S', '51S', '41B', '41G'], dtype=object)

In [37]:
uniq_level = []
for i in range(len(uniq_cate)):
    uniq_level.append(uniq_cate[i][-1]) 
uniq_level

['G',
 'G',
 'P',
 'G',
 'S',
 'G',
 'G',
 'G',
 'G',
 'P',
 'G',
 'G',
 'S',
 'G',
 'G',
 'G',
 'S',
 'P',
 'B',
 'S',
 'G',
 'G',
 'G',
 'S',
 'S',
 'S',
 'B',
 'S',
 'S',
 'S',
 'S',
 'G',
 'S',
 'S',
 'B',
 'G']

In [38]:
cates = rec['cate'].values
cates

array(['47G', '49G', '15P', '44G', '30S', '33G', '13G', '14G', '60G',
       '12P', '28G', '1G', '19S', '46G', '46G', '19G', '3G', '11S', '18P',
       '4B', '1G', '52S', '1G', '9G', '14G', '18G', '24G', '15P', '18S',
       '15S', '40S', '2B', '19G', '19G', '15S', '16S', '19G', '23S', '1G',
       '48S', '47S', '11G', '19S', '1G', '22S', '13G', '51S', '41B',
       '41G'], dtype=object)

In [39]:
levels = []
for i in range(len(cates)):
    levels.append(cates[i][-1]) 
levels

['G',
 'G',
 'P',
 'G',
 'S',
 'G',
 'G',
 'G',
 'G',
 'P',
 'G',
 'G',
 'S',
 'G',
 'G',
 'G',
 'G',
 'S',
 'P',
 'B',
 'G',
 'S',
 'G',
 'G',
 'G',
 'G',
 'G',
 'P',
 'S',
 'S',
 'S',
 'B',
 'G',
 'G',
 'S',
 'S',
 'G',
 'S',
 'G',
 'S',
 'S',
 'G',
 'S',
 'G',
 'S',
 'G',
 'S',
 'B',
 'G']

In [40]:
level_count = {'B':0, 'S':0, 'G':0, 'P':0}
for i in levels:
    if i == 'B':
        level_count['B'] += 1
    elif i == 'S':
        level_count['S'] += 1
    elif i == 'G':
        level_count['G'] += 1
    elif i == 'P':
        level_count['P'] += 1
level_count

{'B': 3, 'S': 15, 'G': 27, 'P': 4}

In [41]:
uniq_cate_int = []
for i in range(len(uniq_cate)):
    uniq_cate_int.append(int(uniq_cate[i][:-1])) 
uniq_cate_int

[47,
 49,
 15,
 44,
 30,
 33,
 13,
 14,
 60,
 12,
 28,
 1,
 19,
 46,
 19,
 3,
 11,
 18,
 4,
 52,
 9,
 18,
 24,
 18,
 15,
 40,
 2,
 16,
 23,
 48,
 47,
 11,
 22,
 51,
 41,
 41]

In [42]:
cluster = pd.read_csv('cluster_name.csv', index_col=0)
cluster

                                                 name
0   DataStructures,DisjointSet,Sorting,Geometry,Gr...
1   GraphTheory,GraphTraversal,Breadth_firstSearch...
2   Implementation,Simulation,Bruteforcing,String,...
3     String,Sorting,Bruteforcing,Ad_hoc,BinarySearch
4   Mathematics,BinarySearch,Geometry,Arithmetic,A...
..                                                ...
65  Mathematics,NumberTheory,EuclideanAlgorithm,Im...
66  GraphTheory,GraphTraversal,Backtracking,Depth_...
67  Bitmask,Bruteforcing,Implementation,Constructi...
68  GraphTheory,String,GraphTraversal,Breadth_firs...
69  Bruteforcing,DataStructures,SetMapByTrees,Back...

[70 rows x 1 columns]

In [43]:
cluster[cluster['name'].isin(cluster.loc[uniq_cate_int]['name'].unique())]

                                                 name
1   GraphTheory,GraphTraversal,Breadth_firstSearch...
2   Implementation,Simulation,Bruteforcing,String,...
3     String,Sorting,Bruteforcing,Ad_hoc,BinarySearch
4   Mathematics,BinarySearch,Geometry,Arithmetic,A...
9   GraphTheory,GraphTraversal,Depth_firstSearch,D...
11  Bruteforcing,DynamicProgramming,Geometry,Imple...
12  GameTheory,Greedy,Geometry,DynamicProgramming,...
13       DataStructures,Stack,Greedy,Mathematics,Tree
14  GraphTheory,MinimumSpanningTree,TopologicalSor...
15      Sorting,Greedy,Mathematics,String,Two_pointer
16  PrefixSum,Two_pointer,Implementation,Sorting,G...
18  DataStructures,Stack,String,Implementation,Rec...
19  DynamicProgramming,Knapsack,Sorting,PrefixSum,...
22  Mathematics,NumberTheory,PrimalityTest,SieveOf...
23  Mathematics,ExponentiationBySquaring,NumberThe...
24  GraphTheory,GraphTraversal,Breadth_firstSearch...
28  GraphTheory,DataStructures,DisjointSet,GraphTr...
30     Mathematics,Greedy,Bitmask,String,Constructive
33  Greedy,DataStructures,String,Bruteforcing,Impl...
40  DataStructures,Sorting,SetMapByTrees,SetMapByH...
41  Implementation,Mathematics,Arithmetic,Simulati...
44  GraphTheory,DynamicProgramming,Dijkstra's,Topo...
46  Sorting,Two_pointer,Geometry,Bruteforcing,Bina...
47  Backtracking,Bruteforcing,Bitmask,DynamicProgr...
48  Mathematics,DynamicProgramming,Combinatorics,P...
49  GraphTheory,GraphTraversal,Tree,Depth_firstSea...
51   Implementation,String,Ad_hoc,Bruteforcing,Greedy
52  Mathematics,Combinatorics,String,Sorting,Proba...
60  DynamicProgramming,Tree,DynamicProgrammingOnTr...

In [14]:
tag = pd.read_csv('resources/tagCluster.csv', index_col=0)
tag

                                                    tag
Implementation                                        2
DynamicProgramming                                   19
Implementation,String                                51
Mathematics                                           4
Implementation,Simulation                             2
...                                                 ...
Mathematics,DynamicProgramming,NumberTheory,Com...   48
Constructive,Ad_hoc,Bitmask                          56
BinarySearch,PrefixSum,ParametricSearch              20
Implementation,Bruteforcing,Simulation,Two_pointer    2
Implementation,String,Ad_hoc,Bitmask                 51

[1475 rows x 1 columns]

In [15]:
uniq_tag = tag[tag['tag'].isin(uniq_cate_int)]
uniq_tag

                                                    tag
Implementation                                        2
DynamicProgramming                                   19
Implementation,String                                51
Mathematics                                           4
Implementation,Simulation                             2
...                                                 ...
Implementation,String,DataStructures,Stack,Recu...   18
Mathematics,String,Greedy,Sorting,NumberTheory       15
Implementation,Mathematics,Bruteforcing,Geometry     55
Implementation,Bruteforcing,Simulation,Two_pointer    2
Implementation,String,Ad_hoc,Bitmask                 51

[332 rows x 1 columns]

In [139]:
uniq_tag[uniq_tag['tag']==4]

                                                    tag
Mathematics                                           4
Mathematics,Arithmetic                                4
Mathematics,Geometry                                  4
Mathematics,BinarySearch                              4
Mathematics,PrefixSum                                 4
Mathematics,Ad_hoc                                    4
Mathematics,Constructive                              4
Mathematics,Bitmask                                   4
Mathematics,ProbabilityTheory                         4
Mathematics,Geometry,Constructive                     4
Mathematics,Geometry,BinarySearch                     4
Mathematics,BinarySearch,PrefixSum                    4
Mathematics,BinarySearch,ParametricSearch             4
Mathematics,Arithmetic,Geometry                       4
Mathematics,Geometry,BinarySearch,ParametricSearch    4
Mathematics,Geometry,ProbabilityTheory                4
Mathematics,DivideAndConquer                          4
Mathematics,Backtracking                              4
Mathematics,GraphTheory                               4
Mathematics,Arithmetic,Ad_hoc                         4
Mathematics,Arithmetic,BinarySearch                   4
Mathematics,Ad_hoc,ProbabilityTheory                  4
Mathematics,Geometry,Ad_hoc                           4
Mathematics,Constructive,Bitmask                      4
Mathematics,BinarySearch,GameTheory                   4
Mathematics,Arithmetic,Constructive                   4
Mathematics,Geometry,ParametricSearch                 4
Mathematics,Ad_hoc,Bitmask                            4
Mathematics,BinarySearch,Two_pointer                  4
Mathematics,BinarySearch,ProbabilityTheory            4
Mathematics,Two_pointer                               4
Mathematics,ValueCoordinateCompression                4
Mathematics,Arithmetic,PrefixSum                      4
Mathematics,ParametricSearch                          4

In [22]:
cluster_names = {}
for j in range(70):
    tag_item = tag[tag['tag'] == j].index
    tag_item
    arr  = []
    for i in tag_item:
        items = i.split(',')
        for item in items:
            arr.append(item)
    arr
    tag_item_count = {}
    for i in arr:
        if i not in tag_item_count:
            tag_item_count[i] = 1
        else:
            tag_item_count[i] += 1
    tag_item_count
    sorted_tag_item_count = sorted(tag_item_count.items(), key = lambda x : x[1], reverse=True)
    cluster_name = ''
    for i in sorted_tag_item_count[:5]:
        cluster_name = cluster_name + i[0] + ','
    cluster_name = cluster_name[:-1]
    cluster_names[j] = cluster_name
cluster_names

{0: 'DataStructures,DisjointSet,Sorting,Geometry,Greedy',
 1: "GraphTheory,GraphTraversal,Breadth_firstSearch,Dijkstra's,Bitmask",
 2: 'Implementation,Simulation,Bruteforcing,String,Backtracking',
 3: 'String,Sorting,Bruteforcing,Ad_hoc,BinarySearch',
 4: 'Mathematics,BinarySearch,Geometry,Arithmetic,Ad_hoc',
 5: 'DataStructures,PriorityQueue,Greedy,Sorting,Mathematics',
 6: 'Ad_hoc,Implementation,Sorting,Mathematics,Two_pointer',
 7: 'Mathematics,String,Bruteforcing,Arithmetic,Combinatorics',
 8: 'GraphTheory,DataStructures,SetMapByHashing,Implementation,GraphTraversal',
 9: 'GraphTheory,GraphTraversal,Depth_firstSearch,DynamicProgramming,Greedy',
 10: 'GraphTheory,GraphTraversal,Bruteforcing,Implementation,BinarySearch',
 11: 'Bruteforcing,DynamicProgramming,Geometry,Implementation,PrefixSum',
 12: 'GameTheory,Greedy,Geometry,DynamicProgramming,Mathematics',
 13: 'DataStructures,Stack,Greedy,Mathematics,Tree',
 14: 'GraphTheory,MinimumSpanningTree,TopologicalSorting,Floyd_warshall,Bruteforcing',
 15: 'Sorting,Greedy,Mathematics,String,Two_pointer',
 16: 'PrefixSum,Two_pointer,Implementation,Sorting,Geometry',
 17: 'DataStructures,SetMapByHashing,Bruteforcing,DynamicProgramming,Implementation',
 18: 'DataStructures,Stack,String,Implementation,Recursion',
 19: 'DynamicProgramming,Knapsack,Sorting,PrefixSum,Greedy',
 20: 'BinarySearch,PrefixSum,DynamicProgramming,ParametricSearch,Two_pointer',
 21: 'DataStructures,SegmentTree,ValueCoordinateCompression,DynamicProgramming,DivideAndConquer',
 22: 'Mathematics,NumberTheory,PrimalityTest,SieveOfEratosthenes,Bruteforcing',
 23: 'Mathematics,ExponentiationBySquaring,NumberTheory,DynamicProgramming,Implementation',
 24: 'GraphTheory,GraphTraversal,Breadth_firstSearch,Depth_firstSearch,Implementation',
 25: 'Mathematics,NumberTheory,BinarySearch,EuclideanAlgorithm,PrimalityTest',
 26: 'DataStructures,SetMapByTrees,SetMapByHashing,Greedy,DynamicProgramming',
 27: 'Implementation,Mathematics,NumberTheory,Bruteforcing,EuclideanAlgorithm',
 28: 'GraphTheory,DataStructures,DisjointSet,GraphTraversal,Tree',
 29: 'GraphTheory,DataStructures,GraphTraversal,SetMapByHashing,Depth_firstSearch',
 30: 'Mathematics,Greedy,Bitmask,String,Constructive',
 31: 'Mathematics,Bruteforcing,NumberTheory,Geometry,Sorting',
 32: 'Implementation,Mathematics,String,Arithmetic,ProbabilityTheory',
 33: 'Greedy,DataStructures,String,Bruteforcing,Implementation',
 34: 'GraphTheory,DynamicProgramming,GraphTraversal,Tree,DynamicProgrammingOnTrees',
 35: 'GraphTheory,DataStructures,GraphTraversal,Depth_firstSearch,DisjointSet',
 36: 'Implementation,GraphTheory,GraphTraversal,Breadth_firstSearch,Simulation',
 37: 'Tree,Mathematics,DataStructures,Constructive,Recursion',
 38: 'Mathematics,Bruteforcing,Combinatorics,ProbabilityTheory,Implementation',
 39: 'Mathematics,NumberTheory,Constructive,PrefixSum,Combinatorics',
 40: 'DataStructures,Sorting,SetMapByTrees,SetMapByHashing,BinarySearch',
 41: 'Implementation,Mathematics,Arithmetic,Simulation,Greedy',
 42: 'Mathematics,GraphTheory,GraphTraversal,Breadth_firstSearch,NumberTheory',
 43: 'DynamicProgramming,Bitmask,Greedy,TravellingSalesmanProblem,Backtracking',
 44: "GraphTheory,DynamicProgramming,Dijkstra's,TopologicalSorting,GraphTraversal",
 45: 'Mathematics,DataStructures,SetMapByHashing,SetMapByTrees,Combinatorics',
 46: 'Sorting,Two_pointer,Geometry,Bruteforcing,BinarySearch',
 47: 'Backtracking,Bruteforcing,Bitmask,DynamicProgramming,String',
 48: 'Mathematics,DynamicProgramming,Combinatorics,ProbabilityTheory,NumberTheory',
 49: 'GraphTheory,GraphTraversal,Tree,Depth_firstSearch,DataStructures',
 50: 'Mathematics,NumberTheory,PrimalityTest,Bruteforcing,DynamicProgramming',
 51: 'Implementation,String,Ad_hoc,Bruteforcing,Greedy',
 52: 'Mathematics,Combinatorics,String,Sorting,ProbabilityTheory',
 53: 'Recursion,DivideAndConquer,Mathematics,Implementation,Constructive',
 54: 'Implementation,Sorting,String,Bruteforcing,Simulation',
 55: 'Implementation,Mathematics,Bruteforcing,Sorting,Geometry',
 56: 'Constructive,Ad_hoc,GraphTheory,Backtracking,Implementation',
 57: 'DataStructures,Implementation,Simulation,Queue,PriorityQueue',
 58: "GraphTheory,Dijkstra's,Implementation,Floyd_warshall,0_1Bfs",
 59: "GraphTheory,DataStructures,PriorityQueue,GraphTraversal,Dijkstra's",
 60: 'DynamicProgramming,Tree,DynamicProgrammingOnTrees,DataStructures,Greedy',
 61: 'String,DataStructures,SetMapByHashing,Implementation,SetMapByTrees',
 62: 'Mathematics,Sorting,BinarySearch,Geometry,PrefixSum',
 63: 'SlidingWindow,String,Two_pointer,PrefixSum,DataStructures',
 64: 'GraphTheory,DataStructures,GraphTraversal,Breadth_firstSearch,SetMapByTrees',
 65: 'Mathematics,NumberTheory,EuclideanAlgorithm,Implementation,Recursion',
 66: 'GraphTheory,GraphTraversal,Backtracking,Depth_firstSearch,Bruteforcing',
 67: 'Bitmask,Bruteforcing,Implementation,Constructive,Mathematics',
 68: 'GraphTheory,String,GraphTraversal,Breadth_firstSearch,Implementation',
 69: 'Bruteforcing,DataStructures,SetMapByTrees,Backtracking,Implementation'}

In [23]:
cluster = pd.DataFrame(cluster_names.values(), columns=['name'])
cluster

                                                 name
0   DataStructures,DisjointSet,Sorting,Geometry,Gr...
1   GraphTheory,GraphTraversal,Breadth_firstSearch...
2   Implementation,Simulation,Bruteforcing,String,...
3     String,Sorting,Bruteforcing,Ad_hoc,BinarySearch
4   Mathematics,BinarySearch,Geometry,Arithmetic,A...
..                                                ...
65  Mathematics,NumberTheory,EuclideanAlgorithm,Im...
66  GraphTheory,GraphTraversal,Backtracking,Depth_...
67  Bitmask,Bruteforcing,Implementation,Constructi...
68  GraphTheory,String,GraphTraversal,Breadth_firs...
69  Bruteforcing,DataStructures,SetMapByTrees,Back...

[70 rows x 1 columns]

In [24]:
cluster['name'].value_counts()

DataStructures,DisjointSet,Sorting,Geometry,Greedy                             1
GraphTheory,DynamicProgramming,Dijkstra's,TopologicalSorting,GraphTraversal    1
Mathematics,NumberTheory,PrimalityTest,Bruteforcing,DynamicProgramming         1
GraphTheory,GraphTraversal,Tree,Depth_firstSearch,DataStructures               1
Mathematics,DynamicProgramming,Combinatorics,ProbabilityTheory,NumberTheory    1
                                                                              ..
GraphTheory,DataStructures,GraphTraversal,SetMapByHashing,Depth_firstSearch    1
Mathematics,Greedy,Bitmask,String,Constructive                                 1
Mathematics,Bruteforcing,NumberTheory,Geometry,Sorting                         1
Implementation,Mathematics,String,Arithmetic,ProbabilityTheory                 1
Bruteforcing,DataStructures,SetMapByTrees,Backtracking,Implementation          1
Name: name, Length: 70, dtype: int64

In [238]:
cluster.to_csv('cluster_name.csv')

In [1]:
import pandas as pd
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)

In [2]:
cluster = pd.read_csv('cluster_name.csv', index_col=0)
cluster

                                                 name
0   DataStructures,DisjointSet,Sorting,Geometry,Gr...
1   GraphTheory,GraphTraversal,Breadth_firstSearch...
2   Implementation,Simulation,Bruteforcing,String,...
3     String,Sorting,Bruteforcing,Ad_hoc,BinarySearch
4   Mathematics,BinarySearch,Geometry,Arithmetic,A...
5   DataStructures,PriorityQueue,Greedy,Sorting,Ma...
6   Ad_hoc,Implementation,Sorting,Mathematics,Two_...
7   Mathematics,String,Bruteforcing,Arithmetic,Com...
8   GraphTheory,DataStructures,SetMapByHashing,Imp...
9   GraphTheory,GraphTraversal,Depth_firstSearch,D...
10  GraphTheory,GraphTraversal,Bruteforcing,Implem...
11  Bruteforcing,DynamicProgramming,Geometry,Imple...
12  GameTheory,Greedy,Geometry,DynamicProgramming,...
13       DataStructures,Stack,Greedy,Mathematics,Tree
14  GraphTheory,MinimumSpanningTree,TopologicalSor...
15      Sorting,Greedy,Mathematics,String,Two_pointer
16  PrefixSum,Two_pointer,Implementation,Sorting,G...
17  DataStructures,SetMapByHashing,Bruteforcing,Dy...
18  DataStructures,Stack,String,Implementation,Rec...
19  DynamicProgramming,Knapsack,Sorting,PrefixSum,...
20  BinarySearch,PrefixSum,DynamicProgramming,Para...
21  DataStructures,SegmentTree,ValueCoordinateComp...
22  Mathematics,NumberTheory,PrimalityTest,SieveOf...
23  Mathematics,ExponentiationBySquaring,NumberThe...
24  GraphTheory,GraphTraversal,Breadth_firstSearch...
25  Mathematics,NumberTheory,BinarySearch,Euclidea...
26  DataStructures,SetMapByTrees,SetMapByHashing,G...
27  Implementation,Mathematics,NumberTheory,Brutef...
28  GraphTheory,DataStructures,DisjointSet,GraphTr...
29  GraphTheory,DataStructures,GraphTraversal,SetM...
30     Mathematics,Greedy,Bitmask,String,Constructive
31  Mathematics,Bruteforcing,NumberTheory,Geometry...
32  Implementation,Mathematics,String,Arithmetic,P...
33  Greedy,DataStructures,String,Bruteforcing,Impl...
34  GraphTheory,DynamicProgramming,GraphTraversal,...
35  GraphTheory,DataStructures,GraphTraversal,Dept...
36  Implementation,GraphTheory,GraphTraversal,Brea...
37  Tree,Mathematics,DataStructures,Constructive,R...
38  Mathematics,Bruteforcing,Combinatorics,Probabi...
39  Mathematics,NumberTheory,Constructive,PrefixSu...
40  DataStructures,Sorting,SetMapByTrees,SetMapByH...
41  Implementation,Mathematics,Arithmetic,Simulati...
42  Mathematics,GraphTheory,GraphTraversal,Breadth...
43  DynamicProgramming,Bitmask,Greedy,TravellingSa...
44  GraphTheory,DynamicProgramming,Dijkstra's,Topo...
45  Mathematics,DataStructures,SetMapByHashing,Set...
46  Sorting,Two_pointer,Geometry,Bruteforcing,Bina...
47  Backtracking,Bruteforcing,Bitmask,DynamicProgr...
48  Mathematics,DynamicProgramming,Combinatorics,P...
49  GraphTheory,GraphTraversal,Tree,Depth_firstSea...
50  Mathematics,NumberTheory,PrimalityTest,Brutefo...
51   Implementation,String,Ad_hoc,Bruteforcing,Greedy
52  Mathematics,Combinatorics,String,Sorting,Proba...
53  Recursion,DivideAndConquer,Mathematics,Impleme...
54  Implementation,Sorting,String,Bruteforcing,Sim...
55  Implementation,Mathematics,Bruteforcing,Sortin...
56  Constructive,Ad_hoc,GraphTheory,Backtracking,I...
57  DataStructures,Implementation,Simulation,Queue...
58  GraphTheory,Dijkstra's,Implementation,Floyd_wa...
59  GraphTheory,DataStructures,PriorityQueue,Graph...
60  DynamicProgramming,Tree,DynamicProgrammingOnTr...
61  String,DataStructures,SetMapByHashing,Implemen...
62  Mathematics,Sorting,BinarySearch,Geometry,Pref...
63  SlidingWindow,String,Two_pointer,PrefixSum,Dat...
64  GraphTheory,DataStructures,GraphTraversal,Brea...
65  Mathematics,NumberTheory,EuclideanAlgorithm,Im...
66  GraphTheory,GraphTraversal,Backtracking,Depth_...
67  Bitmask,Bruteforcing,Implementation,Constructi...
68  GraphTheory,String,GraphTraversal,Breadth_firs...
69  Bruteforcing,DataStructures,SetMapByTrees,Back...

In [228]:
sorted(tag_item_count.items(), key = lambda x : x[1], reverse=True)

[('Bruteforcing', 7),
 ('DataStructures', 7),
 ('SetMapByTrees', 5),
 ('Backtracking', 4),
 ('Implementation', 4),
 ('SetMapByHashing', 4),
 ('String', 2)]